{% extends "template.html" %}

{% block content%}

<!-- Start of navigation bar -->
<div class="NavBar" id="Top-navbar">
    <a href="../index.html" id="About">Naman Agarwal</a>
    <a href="../projects/projects.html" id="btn-nav01" class="nav-102">Projects</a>
    <a href="" id="exp-nav" class="nav-102">Experience</a>
    <a href="../contact me/Contact_Me.html" id="btn-nav" class="nav-102">Contact</a>


    <a href="resume\Naman Agarwal (2).pdf" id="btn-nav" class="nav-102" download><i
            class="fa-solid fa-file"></i>&nbsp;Resume</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <!-- <i class="fa-solid fa-bars"></i> -->
    </a>


</div>
<!--  End of navigation Bar-->

{% endblock %}